body{
    background-color: black;
    color:white;
}
p{
    color: white;
    font-size: medium;
    text-align: justify;
}
h2{
    text-align: justify;
    color:white;
}
.Blog_del_mundo{
    text-align: center;
    font-size: 3rem;
}
nav>ul>li{
    color: yellow;
}
article{
    background-color: rgb(44,43,43);
}
.Títulos_blogs{
    text-align: center;
    font-size: xx-large;
}
.Título_Blog_Zapato{
    text-align: center;
    font-size: xx-large;
}
.Espacio{
    padding: 1.5rem;
    
}
.ilustracion figcaption{
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
    }
    .ilustracion{
        border: white 4px solid;
        display: inline-block;
    }
    section{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        gap: 3rem;
    }
    section>header {
        grid-column: span 12
    }
    main{
    grid-column: span 12;
    }
    @media (min-width: 1024.1px){
    section>main {
        grid-column: span 8;
    }
            }
    aside{
        grid-column: span 12;
    }
      @media (min-width: 1024.1px){
    section>aside {
        grid-column: span 4;
    }
             }
    section>footer {
        grid-column: span 12;
    }
    nav{
        font-size: 1.3rem;
        position: fixed;
        background-color: black;
        width: 100%;
    }
    nav>ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-flow: auto;
        gap: 1rem;
        border-bottom: 1px solid #fff;
        padding-bottom: 1.5rem;
    }
    @media (min-width: 1100px) {
        nav> ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid  #fff;
        padding-bottom: 0.5rem;
    
    }      }
             
    nav>ul>li>a{
        text-decoration: underline;
        color: greenyellow;
    }
    article>header>hgroup{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    article>header>hgroup>h2{
        display: flex;
        align-items: center;
    }
    article>head>hgroup>h2>img{
        margin-right: 1rem;
    }
    #footer_blog{