body{
    background-color: black;
    color:white;
}
p{
    color: white;
    font-size: medium;
    text-align: justify;
}
h2{
    text-align: justify;
    color:white;
}
.Blog_del_mundo{
    text-align: center;
    font-size: 3rem;
}
nav>ul>li{
    color: yellow;
}
article{
    background-color: rgb(44,43,43);
}
.Títulos_blogs{
    text-align: center;
    font-size: xx-large;
}
.Título_Blog_Zapato{
    text-align: center;
    font-size: xx-large;
}
.Espacio{
    padding: 1.5rem;
    
}